{% extends "learning_logs/base.html" %}

{% block page_header %}
    <h1>Temas</h1>
{% endblock page_header %}

{% block content %}

       <ul>
        {% for topic in topics %}
            <li><h3>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </h3></li>
        {% empty %} <!-- que hacer si no hay elementos en la lista -->
            <li><h3>No se ha añadido aún ningún tema.</h3></li>
        {% endfor %}
    </ul>

<h3><a href="{% url 'learning_logs:new_topic' %}">Añade un nuevo Tema</a></h3>

{% endblock content %}