{% extends "learning_logs/base.html" %}

{% block content %}

   <p> Temas</p>

    <ul>
        {% for topic in topics %}
            <li>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </li>
        {% empty %} <!-- que hacer si no hay elementos en la lista -->
            <li> No se ha añadido aún ningún tema.</li>
        {% endfor %}
    </ul>

        <a href="{% url 'learning_logs:new_topic' %}">Añade un nuevo Tema</a>

{% endblock content %}